<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='content/site.css') }}" />
    <!--<link rel="stylesheet" type="text/css" href="/static/content/site.css"" />-->
    <script src="/static/scripts/modernizr-2.6.2.js"></script>

    {%if title %}
    <title>{{ title }} - Flask Project 1</title>
    {% else %}
    <title>Flask Project 1 Page</title>
    {%  endif %}
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Home Page</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    <li><a href="{{ url_for('test') }}">Posts</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item ml-auto">
                        <a href="#" class="nav-link text-dark glyphicon glyphicon-user">Register</a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a href="#" class="nav-link text-dark glyphicon glyphicon-user">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-4">
                <div class="content-section">
                    <h3>Active Side View</h3>
                    <p class='text-muted'>
                        Welcome to Jello Posts
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-light">Latest Posts</li>
                            <li class="list-group-item list-group-item-light">Announcements</li>
                            <li class="list-group-item list-group-item-light">Calendars</li>
                            <li class="list-group-item list-group-item-light">News</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <footer>
            <p>&copy; {{ year }} - My Flask Application</p>
        </footer>
    </main>
   

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
